<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="10" name="testSuite"
	parallel="tests">
	<listeners>
		<listener
			class-name="com.cashkaro.extendreport.ExtentReporterNG" />
		<listener class-name="com.cashkaro.extendreport.TestListener" />
	</listeners>
	<test verbose="2" name="MytestCase" parallel="none"
		preserve-order="true">
		<classes>
			<class name="com.cashkaro.test.TestCases">
				<methods>
					<include name="loginApp"></include>
					<include name="forgotPassword"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
